<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>User Management</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<div class="container">

    <h1>IT Asset Management System</h1>
    <p>User Management</p>

    <div class="section-header">

        <h2>Application Users</h2>

        <a href="{{ url_for('add_user') }}">
        <button type="button">
            Add User
        </button>
</a>

    </div>

    <table>

        <thead>

            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}

            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.created_at }}</td>
            </tr>

            {% else %}

            <tr>
                <td colspan="5">
                    No users found.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

    <br>

    <a href="{{ url_for('home') }}">
        Back to Assets
    </a>

</div>

</body>
</html>